@import '../../scss/variables.scss';

.main_page__words_list {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: clamp(20rem, 20vw, 100%);

  .words_list__item {
    position: relative;

    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 3rem;

    padding: 0 1.5rem;

    background-color: $primary_gray;
    border-radius: $borderRadius_2;

    .list_item__middle_content {
      position: absolute;
      left: 50%;
      top: 50%;

      transform: translate(-50%, -50%);
    }
  }
}
