
//------------------------------colors------------------------------
$primary_black: #060f0e;
$primary_white: #ffffff;
$primary_gray: #45494e;
$secondary_black: #292b2b;
$secondary_white: #ced2da;
$yellow: #e4cd82;
$yellow_1: #e4dabc;
//------------------------------colors------------------------------//


// //------------------------------transition--------------------------
$hover_transition: all .2s ease-in-out;
// //------------------------------transition--------------------------//


//------------------------------break-points------------------------
$point768: 768px;
$point425: 425px;

//------------------------------break-points------------------------//


//-----------------------elements-border-radius----------------------------
$borderRadius_1: 1rem;
$borderRadius_2: 3rem;
//-----------------------elements-border-radius----------------------------//